#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --onboot=off --ipv6=auto
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$smN5JlpZucQYM.bE$z9awYUcsisoRwQoDGOwR4U2WRCr1drYfV5x/p4GJgXg2P6zLadGPqLv6dcIs4MFuF6pDxLuVlFvTLjLMMrJti1
# System timezone
timezone Asia/Kolkata --isUtc --nontp
user --groups=wheel --name=fbadmin --password=$6$.2pRdjtE/bklAk.m$1Wm73VeWtwoYCorcXuO7E6Fj8JGTd4akqzdwrY3pr/dkqt0wxK/HBgKpTWjOrL8AsI5V3WrctYb0DOck9R8sL0 --iscrypted --gecos="FreeBird Admin"
# System bootloader configuration
bootloader --location=mbr --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel 

%packages
@base
@core

%end

